
   <div class="container mt-5">
    <h2 class="text-center text-primary mb-4">Product List</h2>
  
    <div *ngIf="products.length > 0; else noProducts">
      <div class="row">
        <div *ngFor="let product of products" class="col-md-4 col-lg-3 mb-4">
          <div class="card h-100 shadow" (click)="viewProductDetails(product)">
            <img [src]="product.imageUrl" class="card-img-top product-img" alt="{{ product.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text text-muted">{{ product.description }}</p>
              <p class="fw-bold text-success">Price: ${{ product.price }}</p>
              <p class="">Available In Stock: {{product.stockQuantity}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <ng-template #noProducts>
      <p class="text-center text-danger">No products available.</p>
    </ng-template>
  </div>
  